html
  head
    title Orben
    link(href='/lib/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='/dist/css/Orben.css' rel='stylesheet')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/angular/angular.min.js')  
  body(ng-app='myApp')
    nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') 
                img(src='/dist/img/orben_logo_black.png')
            #navbar.navbar-collapse.collapse
   
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href='/') Home
                li
                  a(href='/products.html') Products
                li
                  a(href='/about.html') About
    .container-fluid
      .row
        .hero-header
      .container
        .row.tag
          .col-md-4
            h2.featurette-heading
              | Örben 
              span.text-muted Design & Quality
          .col-md-8
            p.lead
              | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta.      
    .container
      hr.featurette-divider
      .row(ng-controller="MainController")
        .col-md-4.collection
          h2 Modular Collection
          p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate at saepe id enim itaque eius ratione. Sint, nihil non ea.
          div.see-more
            a
              h2
                small see more 
        .col-md-8
          .col-md-4(ng-repeat='product in products' ng-if="$index < 3")
            a(href='/products/{{ product.collection }}/{{ product.styleName }}.html')
              div.product-card
                img(src='/dist/img/products/{{ product.collection }}/{{ product.styleName }}_thumb.jpg')
                h4.collection 
                    small {{ product.collection | uppercase }}
                h3.styleName {{ product.styleName }}
      hr.featurette-divider
      .row(ng-controller="MainController")
        .col-md-8
          .col-md-4(ng-repeat='product in products' ng-if="$index > 2 && $index < 6")
            a(href='/products/{{ product.collection }}/{{ product.styleName }}.html')
              div.product-card
                img(src='/dist/img/products/{{ product.collection }}/{{ product.styleName }}_thumb.jpg')
                h4.collection 
                    small {{ product.collection | uppercase }}
                h3.styleName {{ product.styleName }}
        .col-md-4.collection
          h2 Orben Classic
          p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate at saepe id enim itaque eius ratione. Sint, nihil non ea.
          div.see-more
            a
              h2
                small see more
      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | Oh yeah, it's that good. 
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2014 Company, Inc. · 
          a(href='#') Privacy
          |  · 
          a(href='#') Terms
    script(src='/dist/angular/angularApp.js')
    script(src='/dist/angular/controllers/MainController.js')
